---
layout: default
---

<div class="header-bar">
  <h1>{{ site.title }}</h1>
  <h4>{{ site.description }}</h4>
  <br/>
  <hr>
  <br/>
</div>

<ul class="listing">
    {% for post in paginator.posts %}
      <li>
        <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
</ul>

<!-- start pagination links -->


<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <span><a href="/"> < Prev </a></span>
    {% else %}
      <span><a href="/page{{ paginator.previous_page }}"> < Prev </a></span>
    {% endif %}
  {% else %}
    <span></span>
  {% endif %}

  {% if paginator.next_page %}
    <span class="alignright"><a href="/page{{ paginator.next_page }}"> Next > </a></span>
  {% else %}
    <span class="alignright"></span>
  {% endif %}
</div>
<!-- end pagination links -->
