
/**
 * Site header   **********************************************************
 */
.site-header {
border-bottom: 1px solid $grey-color-light;
background-color: #fff;
opacity: 0.75;
position:fixed;
left:0px;
top:0px;
height:56px;
width:100%;
z-index: 50;
}

.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.site-nav {
float: right;
line-height: $nav-height;
.page-link{
line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
&:not(.ico){
  &:not(:first-child){
  margin-left: 10px;
    }
  }
img{
  position: relative;
  top: 6px;
  width: 24px;

  &:first-child{
      margin-left:10px;
    }
  }
}
@include media-query($on-palm) {
position: fixed;
top: 0px;
right: 10px;
text-align: right;
&:hover .trigger {
display: block;
padding-bottom: 5px;
        }
.page-link {
display: line;
        }
    }
}

.header-bar{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
    h1{
        color: $theme-color;
        font-size:75px;
    }
    h2{
        font-size:25px;
    }
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 10px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
height:25px;
width:100%;
z-index: 999;
}
/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
bottom: 50px;
list-style: none;
 > li {
    display: inline;
 }
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
font-size: 35px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-category{
font-size: 30px;
color:$red;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
    font-size: 36px;
    }
}
.post-title {
font-size: 42px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h1 {
font-size: 50px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h2 {
font-size: 40px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px;
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}

/**
 * about page  **********************************************************
 */
#about .profile{
text-align: center;
margin-bottom: 15px;
img{
    max-width: 250px;
    width: 15.33%;
    margin-right: 10px;
  }
}
#about .findme {
margin-top: 50px;
-webkit-transform: translatey(20px);
transform: translatey(20px);
}
#about .findme a {
margin-left: 13px;
border-bottom: 1px solid;
padding-bottom: 2px;
letter-spacing: .1px;
font-weight: 100;
-webkit-transform: translateZ(0);
}

/**
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
// Uiviking blog
// http://uiviking.com/portfolio/
#projects {
  margin-top: 0px;
  margin-left: -14px;
  margin-right: -59px;
}
#projects .pr-ex {
  display: block;
  text-decoration: none;
  height: 219px;
  overflow: hidden;
  position: relative;
  background-color: #2f2e31;
  cursor: pointer;
  margin-bottom: 30px;
}
.pr-col-1, .pr-col-2{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .pr-col-1{
    width: 33%;
    float: left;
  }
}
@media (min-width: 768px) {
  .pr-col-2{
    width: 44%;
    float: left;
  }
}
@media (max-width: 992px) {
  #projects{
    margin-top: 0px;
    margin-left: -14px;
    margin-right: -63px;
  }
  #projects .pr-ex {
    height: 200px;
  }
}
@media (max-width: 768px) {
  #projects{
    margin-top: 0px;
    margin-left: -14px;
    margin-right: -12px;
  }
  #projects .pr-ex {
    height: 219px;
  }
}
#projects a{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
#projects .pr-ex:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  content: "";
  opacity: 0;
  background-image: -webkit-linear-gradient(top, rgba(238, 82, 79, 0) 0%, rgba(238, 82, 79, 0.6) 100%);
  background-image: linear-gradient(to bottom, rgba(238, 82, 79, 0) 0%, rgba(238, 82, 79, 0.6) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee524f', endColorstr='#99ee524f', GradientType=0);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#projects .pr-ex:hover:before {
  opacity: 1;
}
#projects .pr-ex:active:before {
  background-image: -webkit-linear-gradient(top, rgba(238, 82, 79, 0) 0%, rgba(238, 82, 79, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(238, 82, 79, 0) 0%, rgba(238, 82, 79, 0.9) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ee524f', endColorstr='#e6ee524f', GradientType=0);
}
#projects .pr-ex:active {
  z-index: 2;
  -webkit-transform: perspective(1000px) rotate3d(-25, 0, 0, 10deg);
  transform: perspective(1000px) rotate3d(-25, 0, 0, 10deg);
}
#projects .pr-ex .pr-ex-img {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}
#projects .pr-ex .pr-ex-img img {
  width: 100%;
  display: block;
  float: left;
}
#projects .pr-ex .pr-ex-desc {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  padding: 23px 24px;
  background-color: #2f2e31;
  color: #ee524f;
  box-sizing: border-box;
  font-family: 'latosemibold', sans-serif;
}
#projects .pr-ex .pr-ex-desc .pr-ex-name {
  display: block;
  float: left;
  width: 80%;
}
#projects .pr-ex .pr-ex-desc .pr-ex-year {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
}
#projects .pr-ex:hover .pr-ex-desc {
  bottom: -100%;
}
/**
 * Portfolio pages **********************************************************

.blankbox{
width: 100%;
height: 230px;
overflow: hidden;
background: $theme-color;
}
*/
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
}
.two {
width: 66.66%;
}
.three{
width: 100%;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}

/**
 * #portfolio pages **********************************************************
*/
#portfolio .description
,#portfolio .period
,#portfolio .agency
,#portfolio .skill
,#portfolio .position{
  font-weight: 100;
  line-height: 1.6em;
  font-size: 14px;
}
#portfolio ul{
    list-style: none;
    margin-top: 20px;
    margin-left: 0;
}
#portfolio ul li{
    border-bottom: 1px dotted #cacaca;
    padding: 8px 0;
}
#portfolio img{
  width: 95%;
  height: 60%;
}
