---
layout: default
---
<div class="post">

  <header class="post-header">
  	<h3 class="post-title">{{ page.title }}</h3>
  </header>

  <div class="post-content">
    <div id="credits">
      {% if page.video %}
      <div class="center">
        <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
      </div>
      {% elsif page.img %}
      <div class="center"><img src="{{ page.img }}"/></div>
      {% endif %}
      <ul>
        <li class="agency">{{ page.agency }}</li>
        <li class="period">기간 : {{ page.period }}</li>
        <li class="position">역할 : {{ page.position }}</li>
        <li class="skill">사용기술 : {{ page.skill }}</li>
        {%if page.link %}
          {% if page.link == "none"%}
          <li class="skill">
              <i class="fa fa-link fa-lg" aria-hidden="true"></i> 서비스 중단
          </li>
          {% else %}
          <li class="skill">
            <a href="{{ page.link }}">
              <i class="fa fa-link fa-lg" aria-hidden="true"></i> {{ page.link }}
            </a>
          </li>
          {% endif %}
        {% endif %}
      </ul>
      <p class="description">
        {{ page.description }}
      </p>
    </div>
    <div>
      {{ content }}
    </div>
  </div>

</div>
